.carousel .item img {
    width: 100%;
}

.carousel-thumbnail .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}

.carousel-thumbnail .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}

.carousel-thumbnail .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}

.carousel-thumbnail .carousel-indicators li.active img {
    opacity: 1;
}

.carousel-thumbnail .carousel-indicators li:hover img {
    opacity: 0.75;
}
